<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 普通日志 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- 普通日志写入到文件中 -->
	<appender name="info-appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/Users/whf/projects/tlj-schedule-center/logs/scheduler.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %c - %m%n" />
		</layout>
	</appender>

    <!-- 错误日志写入到文件中 -->
    <appender name="error-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/Users/whf/projects/tlj-schedule-center/logs/scheduler-error.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <param name="ImmediateFlush" value="true" />

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %c - %m%n" />
        </layout>
    </appender>

	<!-- 错误信息的logger -->
<!--	<logger name="error">
		<level value="error" />
		<appender-ref ref="ERROR-APPENDER" />
	</logger>-->

	<logger name="INFO-LOGGER">
		<level value="debug" />
       <appender-ref ref="info-appender" />
	</logger>

    <logger name="ERROR-LOGGER">
        <level value="debug" />
        <appender-ref ref="error-appender" />
    </logger>

	<!-- 3rdparty Loggers -->
    <logger name="org.quartz">
        <level value="error" />
        <appender-ref ref="error-appender"/>
    </logger>
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>


	<!-- Root Logger -->
	<root>
		<priority value="info" />
        <appender-ref ref="info-appender" />
        <appender-ref ref="console" />
	</root>
	
</log4j:configuration>
